.start-free-container {
    width: 1050px;
    margin: 70px auto 145px auto;
    background-color: #6F764D;
    min-height: 331px;
    padding-top: 94px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;  
    color: white
}

.start-free-container p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 8px 0 35px 0;
    color: rgba(255, 255, 255, 0.7); 
}

.start-free-container a {
    padding: 12px 20px;
    color: white;
    font-size: 18px;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
}

.start-free-container a:hover {
    background-color: white;
    color: grey;
    transition: all 0.3s ease-in-out;
}