.top-main-container {
    margin-top: -7px;
    position: relative;
    z-index: 1;
    background-color: #6F764D;
    display: flex;
    padding: 120px 0;
}

.top-main-container .top-main {
    display: flex;
    margin: 0 auto;
    height: 449px;
}

.top-main .c_top-main:hover,
.top-main .rg_top-main:hover {
    margin-top: -2px;
    height: 449px;
    box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.58);
}

.top-main .lf__top-main {
    color: white;
    width: 397px;
    display: flex;
    align-items: center;
}

.top-main .lf__top-main h2 {
    font-family: Rammetto One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 109.1%;
    margin-bottom: 17px;
}

.top-main .c_top-main,
.top-main .rg_top-main {
    width: 276px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 0;
    transition: all 1s ease-in;
}

.top-main .c_top-main h3,
.top-main .rg_top-main h3 {
    font-family: Inter;
    margin-top: 27px; 
}

.top-main .c_top-main p,
.top-main .rg_top-main p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin: 21px 0 41px 0;
}

.top-main .c_top-main {
    border: 2px solid white;
    display: block;
    padding: 47px 25px;
    color: white;
}

.top-main .rg_top-main {
    background-color: white;
    padding: 47px 25px;
    display: block;
    color: black;
}

.top-main .rg_top-main .arrow-box span {
    background-color: black;
    border: 1px solid rgb(128, 127, 127);
    border-right: none;
}

.top-main .c_top-main .arrow-box span {
    background-color: white;
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
}

.top-main .rg_top-main .arrow-box span,
.top-main .c_top-main .arrow-box span {
    width: 0;
    transition: 0.2s;
}

.top-main .rg_top-main:hover .arrow-box span,
.top-main .c_top-main:hover .arrow-box span {
    width: 50px;
    transition: 0.2s;
}

.top-main .arrow-box {
    display: flex;
    align-items: center;
}

.top-main .arrow-box span {
    content: '';
    display: inline-block;
    width: 0;
    height: 3.1px;
}

.right__top-main-container {
    display: flex;
}

@media only screen and (min-width: 1500px) {
    .top-main-container .top-main {
        width: 1050px;
    }
}

@media only screen and (max-width: 1100px) {
    .top-main-container {
        padding: 40px 10px;
    }

    .top-main-container .top-main {
        flex-wrap: wrap;
        height: auto;
    }

    .top-main-container .top-main .lf__top-main {
        width: 100%;
        padding: 30px 0;
        display: block;
        text-align: center;
    }

    .right__top-main-container {
        width: 100%;
        justify-content: center;
    }

    .top-main .c_top-main ,
    .top-main .rg_top-main {
        margin: 0;
    }

    .right__top-main-container .c_top-main {
        margin-right: 20px;
    }
}

@media screen and (max-width: 900px) {
    .top-main .c_top-main:hover ,
    .top-main .rg_top-main:hover {
        height: auto;
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .right__top-main-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .right__top-main-container .c_top-main {
        margin-right: 0;
    }

    .top-main .c_top-main ,
    .top-main .rg_top-main {
        width: 100%;
        padding: 15px;
        min-height: 200px;
    }

    .top-main .c_top-main {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 410px) {
    .top-main-container .top-main .lf__top-main h2 {
        font-size: 25px;
    }
}